# CONFIGURAÇÕES DO FIREBIRD (ORIGEM)
FB_HOST=127.0.0.1
FB_PORT=3050
FB_DATABASE=C:\DATABASES\DADOS.FDB
FB_USER=SYSDBA
FB_PASS=masterkey

# CONFIGURAÇÕES DO POSTGRESQL (DESTINO)
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DATABASE=control
PG_USER=postgres
PG_PASS=
